# Data project.
### gjord av Nathaniel
 - Ai
 - visualisera datan
 - utvärdera datan

# vi börjar med att importera in filen nedan
____________________________________________

In [7]:
import pandas as pd

# Läs in datan från csv-filen
df = pd.read_csv('rb_ranks_all.csv')

df

,nation,cls,date,rb_br,rb_lower_br,rb_battles_sum,rb_battles_mean,rb_win_rate,rb_air_frags_per_battle,rb_air_frags_per_death,rb_ground_frags_per_battle,rb_ground_frags_per_death
0,Italy,Aviation,2025-03-31,1.0 ~ 14.0,1.0,5151.0,260.825798,64.951374,1.222165,1.383450,1.609542,1.750940
1,Italy,Aviation,2025-03-28,1.0 ~ 14.0,1.0,5463.0,279.262414,65.423090,1.249262,1.430328,1.605865,1.769451
2,Italy,Aviation,2025-03-25,1.0 ~ 14.0,1.0,5866.0,300.561535,65.119746,1.278033,1.467156,1.608824,1.799555
3,Italy,Aviation,2025-03-22,1.0 ~ 14.0,1.0,6304.0,328.483725,65.305300,1.303710,1.516853,1.630419,1.860723
4,Italy,Aviation,2025-03-19,1.0 ~ 14.0,1.0,6777.0,365.086193,65.869433,1.305544,1.546491,1.647828,1.913448
...,...,...,...,...,...,...,...,...,...,...,...,...
14319,France,Ground_vehicles,2019-12-14,1.0 ~ 14.0,1.0,40017.0,1556.839136,50.370787,0.052713,0.052030,2.427190,1.821286
14320,France,Ground_vehicles,2019-12-09,1.0 ~ 14.0,1.0,42699.0,1709.150820,50.433112,0.055868,0.056929,2.323812,1.771338
14321,France,Ground_vehicles,2019-12-07,1.0 ~ 14.0,1.0,42108.0,1703.643995,50.469853,0.056521,0.058481,2.290667,1.760187
14322,France,Ground_vehicles,2019-11-25,1.0 ~ 14.0,1.0,37311.0,1635.506422,51.897787,0.061657,0.069306,2.110830,1.723999
14323,France,Ground_vehicles,2019-11-22,1.0 ~ 14.0,1.0,40803.0,1836.739048,52.847099,0.064312,0.072634,2.058309,1.730399

Här är då datan importerad. 
Jag tänker att jag ska rensa bort några parametrar.

Datan jag tar bort handlar om Avation

In [8]:
df = df[~df['category'].str.contains('aviation', case=False, na=False)]

KeyError: 'category'